<%- include("header"); -%>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-customclass  ">
        <a class="navbar-brand brand" href="/">APEX Friends
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse space " id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-3 active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>



                <li class="nav-item px-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Players
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile/Naff">Naff</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/Aeriu">Aeriu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/CamThings">CamThings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/Imissedmygrapple">Imissedmygrapple</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/CGK0">CGK0</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/KingWonderBoy300">KingWonderBoy300</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/AGL%20WolveZ">AGL WolveZ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile/Parkesss">Parkesss</a>
                    </div>

                </li>
                <li class="nav-item user px-3 nav-search">
                    <form class="form-inline" action="/userlookup" method="post"">
                       <input class=" form-control mr-sm-2" type="search" name="username" placeholder="username"
                        aria-label="username">
                        <div class="form-inline">
                            <input type="radio" id="PC" name="platform" value="PC" class=" navbar ml-3 small-radio ">
                            <label for="PC" class="platform  ml-2 mr-3 mb-0">PC</label>
                        </div>
                        <div class="form-inline">
                            <input type="radio" id="Xbox" name="platform" value="X1" class="navbar ml-2 small-radio">
                            <label for="Xbox" class="platform  ml-2 mr-3 mb-0">Xbox</label>
                        </div>
                        <div class="form-inline">
                            <input type="radio" id="PS4" name="platform" value="PS4" class="navbar ml-2 small-radio">
                            <label for="PS4" class="platform ml-2 mr-3 mb-0">PlayStation </label>
                        </div>
                        <button class="btn btn-outline-danger my-2 my-sm-0 px-4" type="submit">Search</button>
                </li>

            </ul>

        </div>





    </nav>



    </head>

    <body>

        <div class="main">



            <div class="cover ">
                <img src="\img\cover1100wApexfriends.png" class=" rounded img-fluid mx-auto d-block img-corner"
                    alt="Responsive image">

            </div>


            <div class="space">


                <div class="userrow row m-0">

                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 "
                        style="background-image:url('<%= mainZero.url %>');">


                        <!-- <img class='main-background img-wrapper'
                    src=https://cdn.vox-cdn.com/thumbor/AiUaCaqY9pCsTyqO_hlihCsO54Y=/0x0:3840x2160/920x613/filters:focal(738x837:1352x1451):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63050061/APEX_Legends_Screenshot_LE_BloodhoundRaven_03_Clean.0.jpg> -->



                        <div class="row">
                            <div class='name-plate col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallFont">
                                        <%= playerZero.name %>
                                    </h1>
                                    <h2 class=" smallerFont">
                                        KD: <%= playerZero.kd %>
                                    </h2>
                                </div>
                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">

                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerZero.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerZero.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerZero.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainZero.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/Naff"> Player stats > </a>
                                </div>

                            </div>


                        </div>







                    </div>




                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 "
                        style="background-image:url('<%= mainOne.url %>');">

                        <div class="row">
                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallFont">
                                        <%= playerOne.name %>

                                    </h1>
                                    <h2 class=" smallerFont">
                                        KD: <%= playerOne.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerOne.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerOne.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerOne.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainOne.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/Aeriu"> Player stats > </a>
                                </div>
                            </div>
                        </div>







                        <!-- <img class='main-background img-wrapper'
                    src=https://cdn.vox-cdn.com/thumbor/AiUaCaqY9pCsTyqO_hlihCsO54Y=/0x0:3840x2160/920x613/filters:focal(738x837:1352x1451):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63050061/APEX_Legends_Screenshot_LE_BloodhoundRaven_03_Clean.0.jpg> -->
                    </div>

                </div>


                <div class="userrow row m-0">

                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12"
                        style="background-image:url('<%= mainTwo.url %>');">

                        <div class="row">
                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallFont">
                                        <%= playerTwo.name %>

                                    </h1>
                                    <h2 class=" smallerFont">
                                        KD: <%= playerTwo.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerTwo.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerTwo.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerTwo.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainTwo.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/CGK0"> Player stats ></a>
                                </div>
                            </div>




                        </div>




                    </div>


                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12"
                        style="background-image:url('<%= mainThree.url %>');">

                        <div class="row">
                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallFont">
                                        <%= playerThree.name %>

                                    </h1>
                                    <h2 class=" smallerFont">
                                        KD: <%= playerThree.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerThree.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerThree.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerThree.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainThree.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/CamThings"> Player stats > </a>
                                </div>
                            </div>




                        </div>





                    </div>

                </div>

                <div class="userrow row m-0">

                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12"
                        style="background-image:url('<%= mainFour.url %>');">

                        <div class="row">
                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallestFont">
                                        <%= playerFour.name %>

                                    </h1>
                                    <h2 class=" smallestFont">
                                        KD: <%= playerFour.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerFour.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerFour.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerFour.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainFour.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/Imissedmygrapple"> Player stats > </a>
                                </div>
                            </div>





                        </div>




                    </div>




                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12"
                        style="background-image:url('<%= mainFive.url %>');">

                        <div class="row">
                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallestFont">
                                        <%= playerFive.name %>

                                    </h1>
                                    <h2 class=" smallestFont">
                                        KD: <%= playerFive.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerFive.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerFive.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerFive.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainFive.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/KingWonderBoy300"> Player stats > </a>
                                </div>
                            </div>





                        </div>




                    </div>

                </div>




                <div class="userrow row m-0">
                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 "
                        style="background-image:url('<%= mainSix.url %>');">
                        <div class="row">

                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallFont">
                                        <%= playerSix.name %>

                                    </h1>
                                    <h2 class=" smallerFont">
                                        KD: <%= playerSix.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerSix.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerSix.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerSix.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainSix.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/AGL%20WolveZ"> Player stats > </a>
                                </div>
                            </div>




                        </div>




                    </div>

                    <div class="userplate col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12"
                        style="background-image:url('<%= mainSeven.url %>');">

                        <div class="row">

                            <div class='name-plate  col-xl-3 col-lg-6 center'>
                                <div class="username">
                                    <h1 class="smallFont">
                                        <%= playerSeven.name %>
                                    </h1>
                                    <h2 class=" smallerFont">
                                        KD: <%= playerSeven.kd %>
                                    </h2>
                                </div>

                                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


                            </div>

                            <div class="data col-xl-3 col-lg-6 center">
                                <div class="data-text">
                                    <p>Lifetime kills:
                                        <%= playerSeven.kills %>
                                    </p>
                                    <p>Lifetime damage:
                                        <%= playerSeven.damage %>
                                    </p>
                                    <p>Level:
                                        <%= playerSeven.level %>
                                    </p>

                                    <p>Main:
                                        <%= mainSeven.legend %>
                                    </p>


                                    <a class="player-link" href="/profile/Parkesss"> Player stats > </a>
                                </div>
                            </div>




                        </div>





                    </div>
                </div>
            </div>

            <%- include("footer"); -%>


                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>

    </body>

    </html>