<%- include("header"); -%>


    <body class="main">





        <div id="outer" class="player-card player-card1 ">
            <img class='main-background img-wrapper' src=<%=NaffOJ.mainUrl %>>


            <div class='name-plate'>

                <h1 class="username">Naff </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= NaffOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= NaffOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%= NaffOJ.level %>
                </p>

                <p>Main: <%= NaffOJ.mainName %>
                </p>


                <a href="/<%= NaffOJ.name %>"> Player stats > </a>


            </div>










        </div>




        <div class="player-card player-card2">

            <div class='name-plate'>
                <h1 class="username">
                    <%= AeriuOJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= AeriuOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= AeriuOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=AeriuOJ.level %>
                </p>

                <p>Main: <%= AeriuOJ.mainName %>
                </p>


                <a href="/<%= AeriuOJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=AeriuOJ.mainUrl %>>
        </div>


        <div class="player-card player-card3">

            <div class='name-plate'>
                <h1 class="username">
                    <%= CGK0OJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= CGK0OJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= CGK0OJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=CGK0OJ.level %>
                </p>

                <p>Main: <%= CGK0OJ.mainName %>
                </p>


                <a href="/<%= CGK0OJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=CGK0OJ.mainUrl %>>
        </div>

        <div class="player-card player-card4">

            <div class='name-plate'>
                <h1 class="username">
                    <%= CamThingsOJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= CamThingsOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= CamThingsOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=CamThingsOJ.level %>
                </p>

                <p>Main: <%= CamThingsOJ.mainName %>
                </p>


                <a href="/<%= CamThingsOJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=CamThingsOJ.mainUrl %>>
        </div>

        <div class="player-card player-card5">

            <div class='name-plate'>
                <h1 class="username">
                    <%= CamThingsOJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= CamThingsOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= CamThingsOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=CamThingsOJ.level %>
                </p>

                <p>Main: <%= CamThingsOJ.mainName %>
                </p>


                <a href="/<%= CamThingsOJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=CamThingsOJ.mainUrl %>>
        </div>

        <div class="player-card player-card6">

            <div class='name-plate'>
                <h1 class="username">
                    <%= ddyAshleyOJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= ddyAshleyOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= ddyAshleyOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=ddyAshleyOJ.level %>
                </p>

                <p>Main: <%= ddyAshleyOJ.mainName %>
                </p>


                <a href="/<%= ddyAshleyOJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=ddyAshleyOJ.mainUrl %>>
        </div>

        <div class="player-card player-card7">

            <div class='name-plate'>
                <h1 class="username">
                    <%= rKahziOJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= rKahziOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= rKahziOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=rKahziOJ.level %>
                </p>

                <p>Main: <%= rKahziOJ.mainName %>
                </p>


                <a href="/<%= rKahziOJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=rKahziOJ.mainUrl %>>
        </div>

        <div class="player-card player-card8">

            <div class='name-plate'>
                <h1 class="username">
                    <%= AGLWolveZOJ.name %>
                </h1>

                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->


            </div>

            <div class="data">

                <p>Lifetime kills: <%= AGLWolveZOJ.lifeTimeKills %>
                </p>
                <p>Lifetime damage: <%= AGLWolveZOJ.lifeTimeDamage %>
                </p>
                <p>Level: <%=AGLWolveZOJ.level %>
                </p>

                <p>Main: <%= AGLWolveZOJ.mainName %>
                </p>


                <a href="/<%= AGLWolveZOJ.name %>"> Player stats > </a>
            </div>









            <img class='main-background' src=<%=AGLWolveZOJ.mainUrl %>>
        </div>



        <%- include("footer"); -%>


            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

    </body>

    </html>