<%- include("header"); -%>
   <nav class="navbar navbar-expand-lg navbar-dark navbar-customclass  ">
      <a class="navbar-brand brand" href="#">APEX Friends
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse space " id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item px-3 ">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-3">
               <a class="nav-link" href="#">About</a>
            </li>


            <li class="nav-item px-3 dropdown">
               <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Players
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/Naff">Naff</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Aeriun">Aeriun</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/CamThings">CamThings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="ddyAshley">Imissedmygrapple</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/CGK0">CGK0</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/rKahzi">KingWonderBoy300</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/'AGL WolveZ'">AGL WolveZ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/Parkesss">Parkesss</a>
               </div>

            </li>
            <li class="nav-item user px-3 nav-search">
               <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="username" aria-label="username">
                  <button class="btn btn-outline-danger my-2 my-sm-0 px-4" type="submit">Search</button>
               </form>
            </li>

         </ul>

      </div>





   </nav>



   </head>

   <body>
      <div class="container-fluid   ">
         <div class="row player">
            <div class=" col center ">

               <h1>
                  <%= name %>:
               </h1>


            </div>

            <div class="col ">
               <p>Lifetime kills: <%= kills %>
               </p>
               <P>Kills percentile: <%= percentile %>%</P>
               <p>Lifetime damage: <%= damage %>
               </p>
               <P>Lifetime headshots: <%= headshots %>
               </P>



               <h4>Last Played Legend: <%= lastPlayed %>
               </h4>
               <p>Kills: <%= lastKilled %>
               </p>


            </div>






         </div>
      </div>


      <%- include("footer"); -%>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
   </body>

   </html>