<%- include("header"); -%>
   <nav class="navbar navbar-expand-lg navbar-dark navbar-customclass  ">
      <a class="navbar-brand brand" href="#">APEX Friends
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse space " id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item px-3 ">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>



            <li class="nav-item px-3 dropdown">
               <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Players
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/profile/Naff">Naff</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/Aeriun">Aeriun</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/CamThings">CamThings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/Imissedmygrapple">Imissedmygrapple</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/CGK0">CGK0</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/KingWonderBoy300">KingWonderBoy300</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/'AGL WolveZ'">AGL WolveZ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/Parkesss">Parkesss</a>
               </div>
            </li>
            <li class="nav-item user px-3 nav-search">
               <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="username" aria-label="username">
                  <button class="btn btn-outline-danger my-2 my-sm-0 px-4" type="submit">Search</button>
               </form>
            </li>

         </ul>

      </div>





   </nav>



   </head>

   <body>

      <div class="row player">
         <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 row-padding center">
            <div class="player-plate center">
               <h1 class="player-name">
                  <%= user.data.global.name %>
               </h1>
               <p>
                  KD : <%= user.data.total.kd.value %>
               </p>


               <p>
                  Online/offline
                  <!-- realtime.currentState : "offline" or "online" -->
               </p>
            </div>
         </div>

         <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 center row-padding personal-player-data ">
            <div class="player-sub">
               <p> Currently banned:
                  <!-- to do 
                  Lodash format this string -->
                  <%= user.data.global.bans.isActive %>
               </p>
               <p>
                  Reason for latest ban:
                  <!-- to do 
                  Lodash format this string 
                     Check to see what the input is if you have never been banned
               -->
                  <%= user.data.global.bans.last_banReason %>
               </p>

               <p>Last Played Legend:
                  <%= user.data.legends.selected.LegendName %>

               </p>

            </div>

            <div class="player-sub">
               <p>Rank Stats</p>
               <p>Rank:
                  <%= user.data.global.rank.rankName %>
               </p>
               <p> Rank Score: <%= user.data.global.rank.rankScore %>
               </p>

            </div>


            <div class="player-sub">
               <p> Seasons Stats</p>

               <p> Season 13 Wins:
                  <%= user.data.total.wins_season_13.value %>
               </p>
               <p>Season 12 Wins:
                  <%= user.data.total.wins_season_12.value %>
               </p>
               <p> Season 11 Wins:
                  <%= user.data.total.wins_season_11.value %>
               </p>

               <p>Season 13 Kills:
                  <%= user.data.total.kills_season_13.value %>
               </p>
               <p>Season 12 Kills:
                  <%= user.data.total.kills_season_12.value %>
               </p>
               <p>Season 11 Kills:
                  <%= user.data.total.kills_season_11.value %>
               </p>
               <p> Battle Pass Level: gloabl.battlepaass.level</p>
            </div>

            <div class="player-sub player-sub-last">
               <p>Life Time Stats </p>
               <p>Lifetime Kills:
                  <%= user.data.total.kills.value %>
               </p>
               <p>Lifetime Damage:
                  <%= user.data.total.damage.value %>
               </p>
               <p>Headshots:
                  <%= user.data.total.headshots.value %>
               </p>
               <P>BR Games Played:
                  <%= user.data.total.games_played.value %>
               </P>
               <p>Executions:
                  <%= user.data.total.executions.value %>
               </p>
               <p>
                  Revives:
                  <%= user.data.total.revives.value %>
               </p>
            </div>









         </div>






      </div>


      <%- include("footer"); -%>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
   </body>

   </html>