<%- include("header"); -%>
   <nav class="navbar navbar-expand-lg navbar-dark navbar-customclass  ">
      <a class="navbar-brand brand" href="#">APEX Friends
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse space " id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item px-3 ">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>



            <li class="nav-item px-3 dropdown">
               <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Players
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/profile/Naff">Naff</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/Aeriu">Aeriu</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/CamThings">CamThings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/Imissedmygrapple">Imissedmygrapple</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/CGK0">CGK0</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/KingWonderBoy300">KingWonderBoy300</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/AGL%20WolveZ">AGL WolveZ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/profile/Parkesss">Parkesss</a>
               </div>
            </li>
            <li class="nav-item user px-3 nav-search">
               <form class="form-inline" action="/userlookup" method="post"">
                  <input class=" form-control mr-sm-2" type="search" name="username" placeholder="username"
                  aria-label="username">
                  <input type="radio" id="PC" name="platform" value="PC" class=" navbar ml-3 ">
                  <label for="PC" class="platform  ml-2 mr-3">PC</label>
                  <input type="radio" id="Xbox" name="platform" value="X1" class="navbar ml-2">
                  <label for="Xbox" class="platform  ml-2 mr-3">Xbox</label>
                  <input type="radio" id="PS4" name="platform" value="PS4" class="navbar ml-2">
                  <label for="PS4" class="platform ml-2 mr-3">PlayStation </label>
                  <button class="btn btn-outline-danger my-2 my-sm-0 px-4" type="submit">Search</button>

               </form>
            </li>

         </ul>

      </div>





   </nav>



   </head>

   <body>

      <div class="row player">
         <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 row-padding center">
            <div class="player-plate center">
               <h1 class="player-name">
                  <%= requetedPlayer %>
               </h1>
               <p>
                  KD : <%= user2.kd %>
               </p>


               <p>
                  Online/offline
                  <!-- realtime.currentState : "offline" or "online" -->
               </p>
            </div>
         </div>

         <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 center row-padding personal-player-data ">
            <div class="player-sub">
               <p> Currently banned:
                  <!-- to do 
                  Lodash format this string -->
                  <%= user2.banned %>
               </p>
               <p>
                  Reason for latest ban:
                  <!-- to do 
                  Lodash format this string 
                     Check to see what the input is if you have never been banned
               -->
                  <%= user2.banReason %>
               </p>

               <p>Last Played Legend:
                  <%= user2.lastPlayedLegend %>

               </p>

            </div>

            <div class="player-sub">
               <p>Rank Stats</p>
               <p>Rank:
                  <%= user2.rank %>
               </p>
               <p> Rank Score: <%= user2.rankScore %>
               </p>

            </div>


            <div class="player-sub">
               <p> Seasons Stats</p>

               <p> Season 14 Wins:
                  <%= user2.seasonWins14 %>
               </p>
               <p>Season 13 Wins:
                  <%= user2.seasonWins13 %>
               </p>
               <p> Season 12 Wins:
                  <%= user2.seasonWins12 %>
               </p>

               <p>Season 14 Kills:
                  <%= user2.seasonKills14 %>
               </p>
               <p>Season 13 Kills:
                  <%= user2.seasonKills13 %>
               </p>
               <p>Season 12 Kills:
                  <%= user2.seasonKills12 %>
               </p>
               <p> Battle Pass Level:
                  <%= user2.battlePassLevel %>
               </p>
            </div>

            <div class="player-sub player-sub-last">
               <p>Life Time Stats </p>
               <p>Lifetime Kills:
                  <%= user2.kills %>
               </p>
               <p>Lifetime Damage:
                  <%= user2.damage %>
               </p>
               <p>Headshots:
                  <%= user2.headshots %>
               </p>
               <P>BR Games Played:
                  <%= user2.gamesPlayed %>
               </P>
               <p>Executions:
                  <%= user2.executions %>
               </p>
               <p>
                  Revives:
                  <%= user2.revives %>
               </p>
            </div>









         </div>






      </div>


      <%- include("footer"); -%>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
   </body>

   </html>